.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 20px;
}

.grid {
  display: grid;
  max-width: 300px;
  width: 100%;
  gap: 16px;
  border: 1px solid blueviolet;
  padding: 20px;
}

.cell{
  height: 0;
  padding-bottom: 80%;
  border: 1px solid black;
  background-color: transparent;
}

.cell-active {
  background-color: aquamarine;
}